# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Local Environment Variables
# Exclude all .env files and their local variants
.env*
!.env.example
env
# Build output
/.next/
/out/

# Other
.DS_Store